// --- Colour palette --- //
$primary-color: #4056A1;
$secondary-color: #f6ae29;
$secondary-active: #fdc969;

$background-color: #f4f1ec;
$border-color: #545149;

$font-primary: #ffffff;
$font-secondary: #c5cbe3;

$special-color: #fa3c2d;
$special-color-hover: #ff7268;