@use "base";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: base.$border-color;
  background-color: base.$background-color;
  font-size: 24px;
  font-family: "Source Sans 3", sans-serif;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
  width: 75%;
  min-width: 600px;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  body {
    flex-direction: row;
    align-items: normal;
    justify-content: space-around;
    padding-top: 0px;
  }
  .main-container {
    max-width: 1005px;
    margin-top: 160px;
  }
}