@use "base";

@mixin center-content {
  justify-content: center;
  align-items: center;
};

// --- Navbar Section --- //
#navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: base.$font-primary;

  // --- Navleft Style --- //
  #navleft {
    font-family: "bungee";
    font-size: larger;
  }

  // --- Navright Section --- //
  #navright {
    display: flex;
    height: 55px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .fa-angles-down {
      position: relative;
      padding: 20px;
      color: base.$special-color;
    }

    &:hover .fa-angles-down {
      animation-name: arrow;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }

    @keyframes arrow {
      from {
        top: 0px;
      }

      to {
        top: 8px;
      }
    }

    .write-tweet {
      position: relative;
      bottom: -0.8em;
      user-select: none;
    }
  }
}

// --- Red Scroll-Up Button --- //
#scroll-up {
  @include center-content;

  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 15px;
  margin-bottom: 25px;
  width: 90px;
  height: 90px;
  border: none;
  border-radius: 100%;
  background-color: base.$special-color;
  color: base.$font-primary;

  .fa-angles-up {
    font-size: 40px;
  }

  &:hover {
    background-color: base.$special-color-hover;
    cursor: pointer;
  }

  // --- Button Appear --- //
  &.appear {
    animation-name: appear;
    animation-duration: 0.5s;
  }

  @keyframes appear {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

// --- Media Queries --- //
@media only screen and (min-width: 1024px) {
  #navbar {
    background-color: base.$primary-color;
    #navright {
      display: flex !important;
    }
  }
}