@use "base";

.new-tweet {
  width: 90%;
  display: none;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;

  .error-container {
    font-weight: bold;
    font-size: large;

    #error-msg {
      display: flex;
      border-style: dashed;
      color: base.$special-color;
      justify-content: space-around;
      align-items: baseline;
      padding-left: .5em;
      padding-right: .5em;
    }
  }

  #tweet-container {
    display: flex;
    flex-direction: column;

    .humming {
      font-weight: 600;
      padding-top: 1.5em;
    }

    #tweet-text {
      border: none;
      border-bottom: 4px solid base.$border-color;
      resize: none;
      height: 78px;
      background-color: transparent;
      outline: none;
      padding-top: 15px;
      padding-bottom: 15px;
      font-style: italic;
      scrollbar-width: none;
    }

    #compose-bottom {
      font-family: "bungee";
      padding-top: 10px;
      display: inherit;
      justify-content: space-between;
      align-items: center;

      #submit-tweet {
        background-color: base.$primary-color;
        border: none;
        color: base.$font-primary;
        padding: .5em;
        outline: none;

        &:hover {
          background-color: base.$secondary-color;
          cursor: pointer;
        }

        &:active {
          background-color: base.$secondary-active;
        }
      }
    }
  }
}