@use "base";

// --- New Tweet Section --- //
.new-tweet {
  display: none;
  width: 90%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;

  // --- Error Section --- //
  .error-container {
    font-weight: bold;
    font-size: large;

    #error-msg {
      display: flex;
      border-style: dashed;
      color: base.$special-color;
      justify-content: space-around;
      align-items: baseline;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }

  // --- Compose New Tweet --- //
  #tweet-container {
    display: flex;
    flex-direction: column;

    .humming {
      font-weight: 600;
      padding-top: 1.5em;
    }

    // --- New Tweet Form --- //
    #tweet-text {
      border: none;
      border-bottom: 4px solid base.$border-color;
      resize: none;
      height: 78px;
      background-color: transparent;
      outline: none;
      padding-top: 15px;
      padding-bottom: 15px;
      font-style: italic;
      scrollbar-width: none;
    }

    // --- Submit Button and Counter --- //
    #compose-bottom {
      font-family: "bungee";
      display: inherit;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;

      #submit-tweet {
        background-color: base.$primary-color;
        border: none;
        color: base.$font-primary;
        padding: 0.5em;
        outline: none;

        &:hover {
          background-color: base.$secondary-color;
          cursor: pointer;
        }

        &:active {
          background-color: base.$secondary-active;
        }
      }
    }
  }
}