html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans 3", sans-serif;
}
body .main-container {
  display: flex;
  width: 75%;
  min-width: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}

@media only screen and (min-width: 1024px) {
  body {
    padding-top: 0px;
    flex-direction: row;
    align-items: normal;
    justify-content: space-around;
  }
  .main-container {
    max-width: 1005px;
    margin-top: 160px;
  }
}
