#navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #4056A1;
  height: 120px;
  align-items: center;
  padding-left: 1.5em;
  padding-right: 1.5em;

  color: #ffffff;
  justify-content: space-between;
}

.navleft {
  display: flex;
  font-family: "bungee";
}

.navright {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90px;
  justify-content: center;
}

.fa-angles-down {
  color: red;
}