#navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: #ffffff;
}
#navbar #navleft {
  font-family: "bungee";
  font-size: larger;
}
#navbar #navright {
  display: flex;
  height: 55px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#navbar #navright .fa-angles-down {
  position: relative;
  padding: 20px;
  color: #fa3c2d;
}
#navbar #navright:hover .fa-angles-down {
  cursor: pointer;
  animation-name: arrow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes arrow {
  from {
    top: 0px;
  }
  to {
    top: 8px;
  }
}
#navbar #navright .write-tweet {
  position: relative;
  bottom: -0.8em;
  user-select: none;
}

#scroll-up {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 15px;
  margin-bottom: 25px;
  width: 90px;
  height: 90px;
  border: none;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background-color: #fa3c2d;
  color: #ffffff;
}
#scroll-up .fa-angles-up {
  font-size: 40px;
}
#scroll-up:hover {
  background-color: #ff7268;
  cursor: pointer;
}
#scroll-up.appear {
  animation-name: appear;
  animation-duration: 0.5s;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 1024px) {
  #navbar {
    background-color: #4056A1;
  }
}
