#navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #4056A1;
  height: 120px;
  align-items: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: #ffffff;
  justify-content: space-between;
}

.navleft {
  display: flex;
  font-family: "bungee";
  font-size: larger;
}

#navright {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55px;
  justify-content: center;
}

.write-tweet {
  bottom: -.8em;
  position: relative;
  user-select: none;
}

.fa-angles-down {
  color: #fa3c2d;
  position: relative;
  padding: 20px
}

#navright:hover .fa-angles-down {
  animation-name: arrow;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes arrow {
  from {top: 0px}
  to {top: 8px}
}

#scroll-up {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 15px;
  margin-bottom: 25px;
  background-color: #fa3c2d;
  color: #ffffff;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  border: none;
  align-items: center;
  justify-content: center;
}
#scroll-up.appear {
  animation-name: appear;
  animation-duration: .5s;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

#scroll-up:hover {
  background-color: #ff7268;
}

.fa-angles-up {
  font-size: 40px;
}