.new-tweet {
  width: 90%;
  display: none;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
}
.new-tweet .error-container {
  font-weight: bold;
  font-size: large;
}
.new-tweet .error-container #error-msg {
  display: flex;
  border-style: dashed;
  color: #fa3c2d;
  justify-content: space-around;
  align-items: baseline;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.new-tweet #tweet-container {
  display: flex;
  flex-direction: column;
}
.new-tweet #tweet-container .humming {
  font-weight: 600;
  padding-top: 1.5em;
}
.new-tweet #tweet-container #tweet-text {
  border: none;
  border-bottom: 4px solid #545149;
  resize: none;
  height: 78px;
  background-color: transparent;
  outline: none;
  padding-top: 15px;
  padding-bottom: 15px;
  font-style: italic;
  scrollbar-width: none;
}
.new-tweet #tweet-container #compose-bottom {
  font-family: "bungee";
  padding-top: 10px;
  display: inherit;
  justify-content: space-between;
  align-items: center;
}
.new-tweet #tweet-container #compose-bottom #submit-tweet {
  background-color: #4056A1;
  border: none;
  color: #ffffff;
  padding: 0.5em;
  outline: none;
}
.new-tweet #tweet-container #compose-bottom #submit-tweet:hover {
  background-color: #f6ae29;
  cursor: pointer;
}
.new-tweet #tweet-container #compose-bottom #submit-tweet:active {
  background-color: #fdc969;
}
